<%= link_to opportunity, {class: "list-group-item opportunity"} do %>
    <h4 class="list-group-item-heading"><%= opportunity.position %></h4>
    <ul class="list-group-item-text">
        <li><%= opportunity.track.titleize %> - </li>
        <li><%= opportunity.company %> - </li>
        <li><%= opportunity.location.titleize %> - </li>
        <li>$<%= opportunity.salary %></li>
    </ul>
    <% if current_user?(opportunity.user_id) %>
        <%= link_to "Edit", edit_opportunity_path(opportunity.id) %>
    <% end %>
<% end %>