<%= link_to opportunity, {class: "list-group-item opportunity"} do %>
    <h4 class="list-group-item-heading"><%= opportunity.position %></h4>
    <ul class="list-group-item-text">
        <li><%= opportunity.track.titleize %> - </li>
        <li><%= opportunity.company %> - </li>
        <li><%= opportunity.location.titleize %> - </li>
        <li>
          <% if opportunity.salary_low == opportunity.salary_high %>
            <% if opportunity.salary_low == 0 %>
              Salary not provided
            <% else %>
              $<%= opportunity.salary_low %>
            <% end %>
          <% else %>
            $<%= opportunity.salary_low %> - $<%= opportunity.salary_high %>
          <% end %>
        </li>
    </ul>
<% end %>