<section class="panel opportunity show">
    <h1 class="panel-heading"><%= @opportunity.position %></h1>
    <ul>
        <li><b>Track: </b><%= @opportunity.track.titleize %></li>
        <li><b>Company: </b><%= @opportunity.company %></li>
        <li><b>Link: </b><%= @opportunity.link %></li>
        <li><b>Location: </b><%= @opportunity.location.titleize %></li>
        <li><b>Salary: </b><%= @opportunity.salary_low == @opportunity.salary_high ? "$#{@opportunity.salary_low}" : "$#{@opportunity.salary_low} - $#{@opportunity.salary_high}" %></li>
        <li><b>Posted: </b><%= @opportunity.created_at %></li>
        <li><b>Posted By: </b><%= link_to @user.name, @user.url %></li>
        <% if current_user?(@opportunity.user_id) %>
            <li>
            <%= link_to "Edit", edit_opportunity_path(@opportunity.id) %>
            </li>
        <% end %>
    </ul>
</div>
